<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
    </p>
    
  <% if !article.categories.empty? %>
    <strong>Categories :</strong>
    <% article.categories.each do |cate| %>
    <p>
      <strong> <%= link_to "#{cate.name}", cate %></strong>
    </p>
    <% end %>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= article.user.username %>
  </p>

</div>
